.matchesBody {
    margin-top: 75px;
    text-align: center;
    
  }
  
  h1 {
    color: coral;
  }
  
  .matchesGrid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .matchCard {
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .matchCard:hover {
    transform: scale(1.05);
  }
  
  .matchCard h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
  }
  
  .matchCard p {
    margin: 5px 0;
  }
  
  .status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .status.won {
    color: green;
  }
  
  .status.lost {
    color: red;
  }
  
  .status.draw {
    color: orange;
  }
  

  @media (max-width: 600px) {
    .matchesGrid{
      display: grid;
    }
  }